@model ContosoUniversity.Models.SchoolViewModels.InstructorIndexData


@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>

@* <form asp-controller="Courses" asp-action="Index" method="get">
    <div class="form-group">
        <label>Select Department:</label>
        @Html.DropDownList("departmentId", ViewBag.departmentId as SelectList, "All Departments", new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form> *@

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Course ID</th>
            <th>Title</th>
            <th>Credits</th>
            <th>Department</th>
            <th>Department Name</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    @foreach (var item in Model.Courses)
            {
                string selectedRow = "";
                if (item.CourseID == (int?)ViewData["CourseID"])
                {
                    selectedRow = "table-success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Credits)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td>
                        <a asp-action="Index" asp-route-id="@item.CourseID">Select</a>    |
                        <a asp-action="Edit" asp-route-id="@item.CourseID">Edit</a>       |
                        <a asp-action="Details" asp-route-id="@item.CourseID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CourseID">Delete</a>
                    </td>
                </tr>
        } 
    </tbody>
</table>

@if (Model.Enrollments != null)
{
    <h3>
        Students Enrolled in Selected Course
    </h3>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Grade</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td>
                        @item.Student.FullName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Grade)
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (Model.Instructors != null)
{
    <h3>Instructors teaching the Course by Selected Course</h3>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Instructor Number</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Office</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Instructors)
            {
                string selectedRow = "";
                if (item.ID == (int?)ViewData["CourseID"])
                {
                    selectedRow = "success";
                }
                <tr class="@selectedRow">
                    <td>
                        @Html.ActionLink("Select", "Index", new { courseID = item.ID })
                    </td>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @item.FirstMidName
                    </td>
                    <td>
                        @item.LastName
                    </td>
                    <td>
                        @item.OfficeAssignment
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
